streamlit 
yfinance 
langchain
langchain-community
langchain-pymupdf4llm
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
langchain-groq
pandas
pymupdf==1.26.6
pymupdf-layout
python-dotenv
plotly